@import "fonts";

* {
  -webkit-user-drag: none;
}

@media (max-width: 960px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c8c8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

html, body {
  overflow: auto;
}

.force-ltr {
  direction: ltr;
}

#app.v-application--is-rtl .v-icon {
  &:not(.mdi-play):not(.mdi-check) {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

@media (min-width: 1480px) and (max-width: 1920px) {
  .lg5-custom[class*='col-'] {
    width: 20% !important;
    max-width: 20% !important;
    flex-basis: 20% !important;
  }
}

.v-card.theme--dark .colorize-activity {
  background-color: lighten(#1e1e1e, 20%);
  border-radius: 4px;
}

.theme--light.v-card .colorize-activity {
  background-color: darken(#fff, 20%);
  border-radius: 4px;
}
